* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

body {
  line-height: 1;
}

button{
  border: none;
}
input{
  border: none;
}

a{
  text-decoration: none;
}

table {
  border-spacing: 0;
}
@-moz-document url-prefix() {
  body {
    letter-spacing: -0.09px;
  }
}